#sidebar {
    transition: transform 1s;
  }
  
  #sidebar:has(input:checked) {
    transform: translateX(-457px);
  }
  
  .toggle-sidebar {
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    height: 27px;
    width: 20px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .toggle-sidebar > div {
    position: relative;
  }
  
  .toggle-sidebar svg {
    padding: 4.5px;
    width: 100%;
    height: 100%;
    fill: white;
  }
  
  .toggle-sidebar:has(input:checked) svg {
    transform: scaleX(-1);
  }
  
  .toggle-sidebar input {
    margin: 0;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: -3px;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    pointer-events: all;
  }